In [17]:
import numpy as np
import pandas as pd

In [22]:
df = pd.read_excel('.//Datasets//products.xlsx')

In [23]:
df.head()

,Order ID,Customer Name,Country,Product Category,Product,Quantity,Unit Price,Total Sales,Order Date,Salesperson
0,1001,John Doe,USA,Electronics,Laptop,2,1000,2000,2024-01-01,Jane Smith
1,1002,Alice Green,UK,Electronics,Phone,5,600,3000,2024-01-02,Tom White
2,1003,Mike Brown,USA,Clothing,Jacket,3,80,240,2024-01-03,Jane Smith
3,1004,Sarah Clark,Canada,Clothing,Shirt,10,50,500,2024-01-04,Ann Baker
4,1005,Harry Black,Germany,Electronics,Laptop,1,1000,1000,2024-01-05,Tom White

# 1. Create a Pivot Table to summarize the total sales by Product Category. Show the breakdown by Country.

In [25]:
pivot_table = pd.pivot_table(df, values='Total Sales', index='Product Category', 
                             columns='Country', aggfunc='sum', fill_value=0)

Country           Canada  Germany     UK   USA
Product Category
Clothing            1300       80      0  3170
Electronics         3900     9000  11800  8900
Furniture            360        0   1100  3880